<div class="appBottomMenu bg-dark text-light">
  <a href="index.html" class="item">
    <div class="col">
      <ion-icon name="home-outline"></ion-icon>
      <strong>Beranda</strong>
    </div>
  </a>
  <a href="product.html" class="item">
    <div class="col">
      <ion-icon name="cube-outline"></ion-icon>
      <strong>Produk & Stok</strong>
    </div>
  </a>
  <a href="transaksi.html" class="item">
    <div class="col">
      <ion-icon name="cart-outline"></ion-icon>
      <span class="total-pending badge badge-danger">0</span>
      <strong>Transaksi Pending</strong>
    </div>
  </a>
  <a href="history-transaksi.html" class="item">
    <div class="col">
      <ion-icon name="receipt-outline"></ion-icon>
      <strong>History Transaksi</strong>
    </div>
  </a>
</div>